*{

    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    
}
p {


    color: burlywood;
    font-size: 70px;
    margin: 330;
} 
h1 {
    color: burlywood;
    font-size: 70px;
}
div{
    width: 100%;
    margin: 10px;
}
a{
text-decoration: none;
font-size : 28px ;
color: yellowgreen;



} 